form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  background-color: #007bff;
  color: white;
  padding: 20px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin:auto;
  display: block;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.single-line-textarea {
  resize: none;
  height: auto;
  overflow-y: hidden;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.spacer {
  flex-grow: 1;
  width: 40px;
}
